<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script>
    var ROOM_ID = "<%= roomId %>"
    var isFirefox = typeof InstallTrigger !== 'undefined'
    $(document).ready(function() {
      $("#callID").text(window.location.pathname.substring(6))
      if(isFirefox === true) {
        if(window.confirm("This service does not support browsers other than Google Chrome or Chromium-based browsers. Click 'OK' to see reasons.")) {
          window.location.href = "../chromium.html"
        }
      }
      $("#stop-screenshare").hide()
  })
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="../script.js" defer></script>
  <title>Call - Rooms.io</title>
  <style>
    body {
      color: white;
      font-family: Helvetica;
      background-color: #202020;
      text-align: center;
    }
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }
    .button {
      box-shadow: inset 0px 1px 0px 0px #ffffff;
      background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
      background-color: #f9f9f9;
      border-radius: 6px;
      border: 1px solid #dcdcdc;
      display: inline-block;
      cursor: pointer;
      color: #666666;
      font-family: Arial;
      font-size: 15px;
      font-weight: bold;
      padding: 6px 24px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #ffffff;
  }
  </style>
</head>
<body>
  <h1>Call</h1>
  <h2 style="font-size: 16px;">Call ID: <span id="callID"></span></h2>
  <div id="video-grid"></div><br/>
  <form style="text-align: center;">
    <label for="uuid">Join call:</label>
    <input type="text" id="uuid" name="uuid" placeholder="Enter the call UUID here" />
    <a href="#" class="button" id="submit" onclick="const requestedUUID = document.getElementById('uuid').value; window.location.href = '/call/' + requestedUUID">Submit</a><br/>
    <a class="button" href='../?source=endedCall'>Leave call</a>
    <a href="#" class="button" id="start-screenshare">Start screenshare (beta)</a>
    <a href="#" class="button" id="stop-screenshare">Stop screenshare</a>
  </form>
</body>
</html>
